<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="templateAuthorRepository" class="repositories.AuthorRepository" abstract="true">
        <property name="databaseUrl" value="jdbc:mysql://localhost:3306/spring" />
        <property name="username" value="user1" />
    </bean>

    <bean id="authorRepository" class="repositories.AuthorRepository" parent="templateAuthorRepository">
        <property name="username" value="java-rush" />
        <property name="password" value="pass" />
    </bean>

    <bean id="testAuthorRepository" class="repositories.AuthorRepository" parent="templateAuthorRepository">
        <property name="databaseUrl" value="jdbc:mysql://localhost:3306/test" />
        <property name="password" value="" />
    </bean>
</beans>