<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="myInit"
    default-destroy-method="myDestroy"
>


    <!-- 1 - Using InitializingBean / DisposableBean interfaces ( Tight coupling with Spring Framework ) -->
<!--    <bean class="repositories.AuthorRepository" />-->

    <!-- 2 - Using init-method / destroy-method attributes ( Loose coupling with Spring Framework ) -->
<!--    <bean class="repositories.AuthorRepository" init-method="init" destroy-method="destroy" />-->

    <!-- 3 - Using default-init-method and default-destroy-method attributes on beans tag -->
    <bean class="repositories.AuthorRepository" />
</beans>